.App {
  text-align: center;
}

.App-header {
  background-color: gray;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.reviewCard {
    width: 50%;
    margin: auto;
    padding: 20px;;
}
.reviewDiv {
  height: 700px;
}
